@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


/*body*/

body {
  font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /*body*/

  /*menu*/

  header {
    position: fixed;
    width: 100%;
    z-index: 1000;
  }
  
  .container {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 20px 100px;
  }

  
  
  .logo {
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    transition: filter 0.3s ease;
  }

  
  
  .logo:hover {
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    filter: brightness(1.2);
  }

  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    color: rgb(65,195,212);
color:linear-gradient(90deg, rgba(65,195,212,1) 0%, rgba(0,159,210,1) 100%);
  }

  nav ul li .btn-comprar {
    text-decoration: none !important;
  }


  nav ul li .btn-comprar:hover {
    color: #fff;
    text-decoration: none !important;
  }

  
  .menu-hamburger {
    font-size: 30px;
    cursor: pointer;
    display: none;
  }

  /*menu*/

  /*corpo inicio*/
  
  main {
    padding: 20px;
    background-image: url('/assets/img/fundo.png');
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  main p {
    color: white;
  }

  main h1 {
    color: white;
  }
  
  .btn-comprar {
    display: inline-block;
    background: rgb(65,195,212);
background: linear-gradient(90deg, rgba(65,195,212,1) 0%, rgba(0,159,210,1) 100%);

    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    transition: filter 0.3s ease;
  }
  
  .btn-comprar:hover {
    background: rgb(65,195,212);
background: linear-gradient(90deg, rgba(65,195,212,1) 0%, rgba(0,159,210,1) 100%);

    filter: brightness(1.2);
  }

  .welcome-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 60px;
  }
  
  .welcome-content {
    flex: 1;
   padding: 20px;
  }
  
  .welcome-content h1 {
    margin-bottom: 10px;
  }
  
  .ebook-image {
    flex: 1;
    text-align: center;
    
  }
  
  .ebook-image img {
    margin-top: 60px;
    max-width: 60%;
    height: auto;
    border-radius: 4px;
    min-width: 200px;
  }
  .image-introdution {
    flex: 1;
    text-align: center;
    min-width: 400px;
  }
  .introdution-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0px 60px;
  }

   /*corpo inicio*/

  /* Media Query para menu hamburguer */
  @media screen and (max-width: 768px) {
    .menu-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      background-color: #000;
      width: 100%;
    }

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #000;
      color: #fff;
      padding: 20px 42px;
    }
  
    .menu-links li {
      text-align: center;
      margin: 10px 0;
    }
  
    .menu-hamburger {
      display: block;
    }
  
    .menu-links .btn-comprar {
      display: block;
      margin-top: 12px;
    margin-left: 40px;
    margin-right: 40px;
    }

    .logo {
      cursor: pointer;
      font-weight: bold;
      width: 90px;
      transition: filter 0.3s ease;
    }

    .logo:hover {
      cursor: pointer;
      font-weight: bold;
      width: 90px;
      transition: filter 0.3s ease;
    }
  }

  /* Media Query para menu hamburguer */
  
  
 /* forumulario */


  ::placeholder{font-family: 'Quicksand', sans-serif;
  color: white;}

  .form-container {
    display: flex;
    align-items: center;
    max-width: 300px;
    align-items: flex-end;
  }

  .email-input {
    flex: 1;
    padding: 8px;
    border-radius: 5px 0px 0px 5px;
    border: 2px solid rgb(255, 255, 255);
    background-color: #000;
  }

  .subscribe-button {
    color: white;
    padding: 8px 15px;
    margin-left: 0px;
    border-radius: 0px 5px 5px 0px;
    background: rgb(65,195,212);
background: linear-gradient(90deg, rgba(65,195,212,1) 0%, rgba(0,159,210,1) 100%);
    border: 2px solid  rgba(0,159,210,1);
  }


   /* forumulario */

    /* rodape */

    

    

    footer {
      background-color: #000000;
      padding: 10px 100px;
      display: flex;
      justify-content: space-between;
      align-items: top;
      color: #ffffff;
    }
    
    .footer-contact {
      text-align: left;
    }
    
    .footer-contact p {
      margin: 5px 0;
    }

    .footer-contact a {
      text-decoration: none;
      color: #fff;
    }

    .redes {
      display: flex;
    }

    .redes img {
      width: 40px;
      padding-right: 10px;
      padding-top: 10px;
    }
    

    
    .footer-form {
      text-align: left;
    }
    
    .footer-form h3 {
      margin: 5px 0;
    }
    
    .footer-form form {
      display: flex;
      box-sizing: border-box;
    }
    
    .footer-form input[type="email"] {
      padding: 5px;
      border: 1px solid #ccc;
      margin-right: 5px;
      width: 200px;
    }
    
    .footer-form button {
      padding: 5px 10px;
      background-color: #333;
      color: #fff;
      border: none;
      cursor: pointer;
    }
    
    .footer-form button:hover {
      background-color: #555;
    }



    .footer-form button {

      display: inline-block;
    background: rgb(65,195,212);
background: linear-gradient(90deg, rgba(65,195,212,1) 0%, rgba(0,159,210,1) 100%);

    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    transition: filter 0.3s ease;

    }

      /* rodape */


